.about-container {
  background-color: var(--body-color);
  padding: 1.5rem;
  display: grid;
  justify-items: center;
}

.about-img > img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

.about-header {
  text-align: center;
}

.about-text {
  padding: 15px 5vw;
  line-height: 1.3rem;
}

@media only screen and (min-width: 900px) {
  .about-text {
    width: 70vw;
  }
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
