.App {
  min-width: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 80px;
  width: auto;
  pointer-events: none;
}

.main {
  z-index: 2;
  min-height: 100vh;
  background: #fff;
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}

.main > img {
  object-fit: cover;
  height: 100vh;
}
