.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.7fr));
  justify-content: center;
  justify-items: center;
  gap: 25px;
  position: relative;
}

.card {
  border: 1px solid rgba(128, 128, 128, 0.477);
  border-radius: var(--border-radius);
  background-color: var(--card-color);
}

.image-container > img {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.item-info.container {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.item-text {
  display: grid;
  gap: 10px;
}

.item-name {
  line-height: 1.5rem;
}

.item-price {
  align-self: end;
}

.add-container,
.in-cart {
  display: grid;
  justify-items: end;
  gap: 10px;
}

.quantity {
  text-align: center;
}

button.add-to-cart,
button.purchase {
  background-color: var(--accent);
  padding: 7px 10px;
  border-radius: var(--border-radius);
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
}

button.add-to-cart:active,
button.purchase:active {
  background-color: var(--accent-active);
}

button.add-to-cart > img {
  height: 1.2rem;
  width: auto;
}

button.remove-from-cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

button.remove-from-cart > img {
  height: 0.8rem;
  width: auto;
}

input[type="number"] {
  font-family: inherit;
  padding: 0.2rem 0px;
  padding-left: 0.3rem;
  border: none;
  border-bottom: 1px;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
