.cart-display {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

.order-summary {
  border: 1px solid var(--line);
  border-radius: var(--border-radius);
  padding: 15px;
  display: grid;
  gap: 10px;
  min-width: 300px;
  height: min-content;
  align-items: start;
}

.summary-header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

@media only screen and (max-width: 890px) {
  .cart-display {
    grid-template-columns: none;
  }
  .order-summary {
    border: none;
  }
}

.cart.header-h-line {
  width: 16rem;
}
