.cart-display {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  gap: 5vw;
}

.order-summary {
  border: 1px solid var(--line);
  border-radius: var(--border-radius);
  padding: 15px;
  display: grid;
  gap: 10px;
  min-width: 300px;
  height: min-content;
  align-items: start;
}

.summary-header,
.items {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 890px) {
  .cart-display {
    grid-template-columns: none;
  }
  .order-summary {
    border: none;
    width: 550px;
  }
}

@media only screen and (max-width: 600px) {
  .order-summary {
    width: 300px;
  }
}

.cart.header-h-line {
  width: 16rem;
}
