.catalog-container,
.cart-container {
  background-color: var(--body-color);
  padding-top: 150px !important;
  padding: 5vw;
}

@media only screen and (max-width: 400px) {
  .catalog-container,
  .cart-container {
    padding-top: 130px !important;
  }
}

.catalog-header,
.cart-header {
  display: grid;
  justify-content: center;
  padding-bottom: 2.5rem;
  text-align: center;
}

.catalog.header-h-line {
  width: 18rem;
}
