.header {
  padding: 1.5rem 5vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 15vw 1fr min-content;
  align-items: center;
  justify-items: center;
  z-index: 5;
  background-color: var(--header-color);
}

.title {
  position: relative;
}

.title > button.container > img {
  height: 5rem;
  position: absolute;
  top: -15px;
  left: -35px;
}

.pages {
  display: flex;
  gap: 3vw;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

/* Only way to show underline animation on mobile (no hover); however, line stays active until clicking off the button */
@media only screen and (max-width: 400px) {
  .hover-underline-animation:focus::after {
    transform: scaleX(1);
  }
}

/* https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
