:root {
  --dark-accent: #0f4d7d;
  --body-color: #ffffff;
  --card-color: white;
  --accent: #1c79be;
  --red-accent: #bd3fac;
  --box-shadow: 0px 2px 7px rgba(128, 128, 128, 0.412);
  --border-radius: 2px;
  --link: #1c79be;
  --line: #1c79be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  font-family: "HelveticaNeue-Light", "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0 auto;
}

h1 {
  padding: 10px 0;
  font-weight: 500;
  font-family: "HelveticaNeue-Light";
}

h2,
h3 {
  padding: 0;
  font-weight: 500;
}

p {
  line-height: 1.5;
}

a {
  color: var(--link);
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 20px 0px;
}

.sourceGithub {
  height: auto;
  width: 25px;
}
